.inputBox {
    padding: 5px 10px;
    margin: 12px;
    width: 25vw;
    border-radius: 20px;
    border: 1px solid;
}

.ButtonBox {
    padding: 0.48rem 0.58rem;
    background: #6060d5;
    border: 1px solid;
    border-radius: 15px;
    font-weight: 700;
    color: white;
}

.ButtonBox:hover {
    opacity: 0.7;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.deletebutton{
  margin-right: 10px;
}